{# CHARLY/CoreBundle/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Radley" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css" />
    {% endblock %}
    <title>{% block title %} Meurtelle 54 {% endblock %}</title>
</head>
<body lang="fr" style="background-color: black" >
<div class="container">

    <header id="header" class="jumbotron" style="padding-bottom: 17px">
        {% block bodyHeader %}
      <section class="row" style="background-color: #133333; box-shadow: 2px 2px 5px #228d22">
        <div class="col-lg-8 col-sm-12">
          <h1 style="position: relative; color: #f1dcba; font-family: 'Radley', serif;">The World Wide Web !</h1>
            <p style="color: #d36a1f; margin-bottom: 12%">Toutes les informations pour vous accompagnez dans votre vie virtuel</p>
            <cite style="color: #f1dcba">Emplois, Actus, Partage de connaissances, Pièges à éviter ...</cite>
          </div>
          <div class="col-lg-4 col-">
              <img src="/image/logo.png" alt="my logo" width="80%">
          </div>
      </section>

        {% endblock %}
        <div class="row">
            <hr style="border-top: 1px solid #000000">
        <p class="col-lg-12" style="font-size: 14px; padding: 12px">
            Ce project est propulsé par symfony,
            est construit grâce au MOOC de openclassroom et SensioLabs.
            <a style="font-size: 14px" class="btn btn-primary btn-lg" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2">
                Participer au MOOC »
            </a>
        </p>
        </div>
    </header>

    <div class="row">
        <nav id="menuPlatform" class="col-md-3">
            <h3>Menu </h3>
            {{ include('CHARLYCoreBundle:Core:menu.html.twig') }}

        {% block menuBundle %}

        {% endblock %}
        </nav>
        <section id="content" class="col-lg-9">
            {% block body %}

            {% endblock %}
        </section>
    </div>
    <footer>
        <aside> <p>By {{ webmaster }} © {{ 'now'|date('Y') }} and beyond.</p></aside>
    </footer>
</div>
{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>