{# src/CoreBundle/Core/views/Core/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('charly_news_homepage') }}">Actualitées</a></li>
    <li><a href="{{ path('charly_platform_homepage') }}" target="_blank" >Offres d'emplois</a></li>
    <li><a href="https://openclassrooms.com" target="_blank" >Openclassroom.com</a></li>
    <li><a href="https://symfony.com" target="_blank" >Symfony.com</a> </li>
</ul>