{# src/CoreBundle/Core/views/Core/menu.html.twig #}

<ul class="nav nav-pills nav-stacked" id="mainMenu">
    <li><a href="{{ path('charly_core_homepage') }}">Acceuil</a></li>
    <li><a href="{{ path('charly_news_homepage') }}">Actualités</a></li>
    <li><a href="{{ path('charly_platform_homepage') }}" >Offres d'emplois</a></li>
    <li><a href="https://openclassrooms.com" target="_blank" >Openclassroom.com</a></li>
    <li><a href="https://symfony.com" target="_blank" >Symfony.com</a> </li>
</ul>