<!--
    Créer les elements HTML pour animation du surfeur
    pour l'animation fichier css animSurfer.css est necessaire
-->
<div id="containAnim">
    <div id="surfer">
        <div id="perso">
            <div id="cheveu"></div>
            <div id="visage">
                <div id="containYeux">
                    <div id="oeil1" class="yeux"></div>
                    <div id="oeil2" class="yeux"></div>
                </div>
                <div id="bouche"></div>
            </div>
            <div id="buste"></div>
            <div id="jambe"></div>
        </div>
        <div id="planche"></div>

    </div>
    <div id="vague"></div>
    <div id="eau"></div>
</div>