{# src/CHARLY/PlatformBundle/ressources/view/Advert/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li style="margin-top: 15px;">
            <a href="{{ path('charly_platform_view', {id: advert.id}) }}">
                {# <img src="{{ advert.image.getUrl }}" alt="{{ advert.image.getAlt }}" style="max-width: 50px" > #}
                {{ advert.title }}
            </a>
        </li>
        {#<hr style="margin-bottom: 0">#}
    {% endfor %}
</ul>