<div class="panel border-info mb-3">
    <div class="panel-heading">
        <h5 class="panel-title">{{ flux.title|raw }}</h5>
    </div>
    <div class="panel-body ">
        <p class="panel-body">{{ flux.description|raw }}</p>
        <cite>Lien : <a href=" {{ flux.link }}"> {{ flux.link }}</a></cite>
    </div>
</div>