<div class="panel border-info mb-3">
    <div class="panel-heading">
        <h5 class="panel-title">{{ article.title|raw }}</h5>
    </div>
    <div class="panel-body ">
        <p class="panel-body">{{ article.description|raw }}</p>
        <cite>Lien : <a href=" {{ article.link }}"> {{ article.link }}</a></cite>
    </div>
</div>