{# src/CHARLY/NewsBundle/ressources/views/News/index.html.twig #}

{% extends 'CHARLYNewsBundle::layout.html.twig' %}

{% block body %}
    <div class="boxShadow row" >
        <h4 class="titleFluxArticle" >Toutes l'actualités : </h4>
            {% for  items in flux %}
                <h6 class="titleFluxArticle">{{ items.title }}</h6>
                <div class="flexAround">
                {% for article in items.item %}
                    {% set index = loop.parent.loop.index~loop.index %}
                    {{ include('CHARLYNewsBundle:News:article.html.twig' ) }}
                {% endfor %}
                </div>
            {% endfor %}
    </div>
{% endblock %}