{# src/CHARLY/CoreBundle/ressources/views/core/index.html.twig #}

{% extends 'CHARLYNewsBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css" />
    {{ parent() }}
{% endblock %}

{% block menuBundle %}
        <h3>Actualités</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="https://developper.com">developper.com</a></li>
                <li><a href="https://www.alsacreations.com">alsacreations.com</a></li>
            </ul>
{% endblock %}

{% block body %}
        <div class="maxWidth-child boxShadow" >
    <h4>Toutes l'actualités : </h4>
    {% for flux in url %}
        {{ render(controller('CHARLYNewsBundle:News:fluxRss', {'url': flux, 'nbNew': 5})) }}
    {% endfor %}
            </div>
{% endblock %}