{# src/CHARLY/NewsBundle/ressources/views/News/index.html.twig #}

{% extends 'CHARLYNewsBundle::layout.html.twig' %}

{% block body %}
        <div class="maxWidth-child boxShadow" >
    <h4>Toutes l'actualités : </h4>
    {% for flux in url %}
        {{ render(controller('CHARLYNewsBundle:News:readRss', {'flux': flux, 'nbNew': 5, 'description': false, 'article': loop.index })) }}
    {% endfor %}
            </div>
{% endblock %}