{# src/CHARLY/NewsBundle/ressource/views/News/view.html.twig #}

{% extends "CHARLYNewsBundle::layout.html.twig" %}

{% block body %}
    <div class="maxWidth-child boxShadow" >
    <h4>Tous les articles de {{ flux.title }}</h4>
       {% for article in flux.item %}
           {{ include('CHARLYNewsBundle:News:article.html.twig', {'article': article }) }}
        {% endfor %}
    </div>
{% endblock %}