{# src/CHARLY/NewsBundle/ressource/views/News/view.html.twig #}

{% extends "CHARLYNewsBundle::layout.html.twig" %}

{% block body %}
    <div class=" boxShadow" >
    <h4 class="titleFluxArticle" style="text-align: center">Tous les articles de {{ flux.title }}</h4>
    <div class="flexAround">
       {% for article in flux.item %}
           {{ include('CHARLYNewsBundle:News:article.html.twig', {'article': article, 'index': loop.index }) }}
        {% endfor %}
    </div>
    </div>
{% endblock %}