.container{
    background-color: #d7d7d7;
}
.maxWidth-child * {
    width: 100%;
}
.maxWidth-child h4, .titleFluxArticle{
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    background-color: #d36a21;
    color: white;
}
.maxWidth-child article{
    box-shadow: 2px 2px 2px black;
}

.boxShadow{
    box-shadow: 21px 22px 7px -23px black, -21px 24px 7px -23px black;
}

.maxWidth-child h6{
    padding: 5px;
    background-color: #fef689;
}
blockquote:hover{
    transform: scale(1.02);
}
nav{
    box-shadow: 1px 0px 5px -4px black;
}
.nav-pills {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#menuPlatform h3{
    color: #B0413E;
}
#mainMenu li{
    background-color: rgba(255,255,255,0.2);
}
.btn-primary:hover {
    background-color: lightseagreen;
}
.panelArticle{
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 5px;
    max-width : 433px;
}
.panelArticle .panel-heading{
    border-color: #133333;
}
.panelArticle .panel-heading:hover{
    background-color: #d7d7d7;
}
.flexAround{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.liAdvert{
    background-color: #f8f8f8bf;
}
.cadetBlue{
    background-color : cadetblue;
}
.cadetBlue a {
    color: black;
}
.application{
    padding: 10px;
    margin: 8px;
    background-color: #E9E6E6;
    box-shadow : 2px 2px 4px #000;

}
#containAppli{
    background-color: cadetblue;
    margin: 10px;
    padding: 11px;
    margin-left: 0px;
}