{# src/CHARY/News/ressources/views/layout.html.twig #}

{% extends "CHARLYCoreBundle::layout.html.twig" %}

{% block title %} Actualite - {{ parent() }} {% endblock %}
{% block bodyHeader %}
    <h1>Toute l'actualité pour les surfers</h1>
{% endblock %}